<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>Add new Blog</title>
</head>
<body>

    <%- include("./partials/nav") %>

    <div class="container mt-3">
        <h2>Add New Blog</h2>

        <form action="/blog" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input 
                    type="text" 
                    class="form-control"
                    id="title"
                    name="title"
                    required
                />
            </div>

            <div class="mb-3">
                <label for="body" class="form-label">Content</label>
                <textarea
                    class="form-control"
                    id="body"
                    name="body"
                    rows="6"
                    required
                ></textarea>
            </div>

            <div class="mb-3">
                <label for="coverImage" class="form-label">Cover Image</label>
                <input
                    type="file"
                    class="form-control"
                    id="coverImage"
                    name="coverImage"
                />
            </div>

            <button type="submit" class="btn btn-primary">Publish Blog</button>
        </form>
    </div>

    <%- include("./partials/script") %>
</body>
</html>