<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>Home Page</title>
</head>
<body>

    <%- include("./partials/script") %>
     <%- include("./partials/nav") %>
</body>
</html>